@import url("https://fonts.googleapis.com/css2?family=Almarai&family=Playfair+Display&display=swap");

#__next {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-screen overflow-x-hidden [--black:theme('colors.black')] scrollbar-none;
  }
  body {
    @apply font-base bg-black text-white flex flex-col min-h-screen select-none;
  }
  a,
  button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .app-container {
    @apply relative mx-auto w-[85%];
  }
  .section-circle {
    @apply pointer-events-none rounded-full blur-[30px] bg-gradient-radial from-yellow/[0.15] w-[31em] aspect-square absolute;
  }
  .section-border {
    @apply z-20 w-full origin-center absolute left-0 right-0 bottom-0 h-[1px] bg-gradient-to-r from-transparent via-gray;
  }
  .hover-effect {
    @apply rounded-[100%]  bg-yellow/[0.24] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  absolute duration-500 transition-opacity opacity-0 z-10 group-hover:opacity-100;
  }
}
