@import url("https://fonts.googleapis.com/css2?family=Almarai&family=Playfair+Display&display=swap");

#__next {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-screen overflow-x-hidden [--gutter:8.5rem];
  }
  body {
    @apply font-base bg-black text-white flex flex-col min-h-screen select-none;
  }
  a,
  button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .button {
    @apply relative w-max flex items-center justify-center transition duration-300;
  }
}

@layer utilities {
  .app-container {
    @apply relative w-full max-w-[100rem] mx-auto px-[--gutter];
  }
  .section-circle {
    @apply rounded-full blur-[30px] bg-gradient-radial from-yellow opacity-[0.15] w-[31em] aspect-square absolute;
  }
  .section-border {
    @apply w-full absolute left-0 right-0 bottom-0 h-1 bg-gradient-to-l from-transparent via-gray via-50%;
  }
}
